air-quality-data-in-india.zip
air-quality-data-in-india/*.csv
data/*.csv
.ipynb_checkpoints/*
*.cpython*
.vscode/settings.json
plots/*.png
reports/*.csv
data/*.zip

plots/*/*.png
write_up/*.pdf
write_up/*.synctex*.gz

plots/*/*/*.png
plots/*/*/*/*.png
.DS_Store
write_up/*.fdb_latexmk
write_up/*.log
reports/full_data/*.gz
notebooks/*.rda
notebooks/data/*.rda
